<header class="relative flex 
  bg-custom-app-900 text-custom-app-100 font-bold text-4xl
  p-2 uppercase text-center
">
  <label for="nav-app-controller" class="grid items-center
      relative before:absolute before:w-8 before:h-4 before:content-[''] before:border-y-4 before:border-custom-app-100
    "></label>

  <div class="grow">Thermomix</div>

  <input type="checkbox" id="nav-app-controller" class="hidden peer">
  <nav class="bg-custom-app-500 hidden absolute top-[100%] left-0 w-full h-dvh peer-checked:block">
    <ul>
      <li>Inicio</li>
      <li>Libros</li>
      <li>Platos</li>
      <li>Recetas</li>
      <li>Contacto</li>
    </ul>
  </nav>
</header>


<main class="bg-white">principal</main>

<footer class="bg-custom-app-900 text-custom-app-100">pie</footer>