<div
  class="carousel carousel-center bg-primary rounded-box max-w-md space-x-4 p-4"
>
  <div class="carousel-item w-[calc(100dvw-10%)]">
    <img src="/images/program-code-01.jpg" class="rounded-box" />
  </div>
  <div class="carousel-item w-[calc(100dvw-10%)]">
    <img src="/images/program-code-02.jpg" class="rounded-box" />
  </div>
  <div class="carousel-item w-[calc(100dvw-10%)]">
    <img src="/images/program-code-03.jpg" class="rounded-box" />
  </div>
  <div class="carousel-item w-[calc(100dvw-10%)]">
    <img src="/images/program-code-04.jpg" class="rounded-box" />
  </div>
</div>
